header{
    height: 67px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a,
header a:link{
    text-decoration: none;
    color: #333;
}

header .active {
    text-decoration: none;
    color: inherit;
}

/* remove default list bullets and make nav horizontal */
header ul {
    list-style: none;
}
