* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 10000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292b2c;
    font-family: 'Roboto';
}

a {
    color: #292b2c;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
